.modalWrapper{
  background-color: rgba(0,0,0,.6);
  display: flex;
  height: 100%;
  left: 0;
  opacity: 1;
  overflow: auto;
  position: fixed;
  top: 0;
  transition: all .2s;
  width: 100%;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
